* {
  margin: 0px;
  padding-left: 0px;
}

body {
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
}

.header{
  background-color: black;
  text-align: center;
}

.header h1 {
  color: white;
  font-size: 42px;
  padding: 30px 0px;
  font-family: "Roboto Slab", serif;
}

/*.header:after {
    background: linear-gradient(-45deg, black 16px, transparent 0), linear-gradient(45deg, black 16px, transparent 0);
}*/

.wrapper {
  display: flex;
  padding: 50px 150px;
}

span {
  color: darkcyan;
}

.basics {
  padding: 20px;
  /*margin-right: 100px;*/
  width: 200px;
}

.list {

}

.list li {
  list-style: none;
  margin: 10px;
  display: flex;
}

.story {
  margin-left: 20px;
  padding: 20px;
}

.story p {
  border-left: 1px solid gray;
  padding-left: 15px;
}

.list h1, .story h1 {
  padding-bottom: 20px;
  font-family: "Roboto Slab", serif;
}

a {
  color: black;
}

#icon {
  width: 200px;
  border: 1px solid black;
}

img {
/*border-radius: 50%;*/
}
